.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: pink;
  color: white;
  padding: 1rem;
}

.sidebar {
  position: fixed;
  top: 60px; /* Adjust based on navbar height */
  left: 0;
  width: 200px;
  background: #444;
  color: white;
  height: calc(100% - 60px); /* Adjust based on navbar height */
  padding-top: 1rem;
}

.sidebar a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.sidebar .active {
  font-weight: bold;
}

.content {
  margin-top: 60px; /* Adjust based on navbar height */
  margin-left: 200px; /* Adjust based on sidebar width */
  padding: 1rem;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.meme {
  width: calc(33.33% - 2rem);
  margin: 1rem;
  float: left;
  background: #f0f0f0;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meme img {
  max-width: 100%;
  height: auto;
}

.meme-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.thumb-up,
.thumb-down {
  background: none;
  border: none;
  cursor: pointer;
}

.thumb-up:hover,
.thumb-down:hover {
  font-weight: bold;
}

.form-page form {
  display: flex;
  flex-direction: column;
}

.form-page label {
  margin-bottom: 1rem;
}
